@import "../core/_layout";

$block_size: 50px;
$block_checked_size: 43px;

.ColorRow {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.ChooseColorSign {
  position: absolute;
  top: $relative_position;
  bottom: $relative_position;
  left: $relative_position;
  right: $relative_position;
  margin: auto;
}

.BlockChecked {
  margin: auto;
  width: $block_checked_size;
  height: $block_checked_size;
}