@import "../_settings";

$orientationBackground: rgb(218, 218, 218);
$rectangle_length: 45px;
$rectangle_width: 30px;

.FilterOrientationRow {
  display: flex;
  align-items: center;
}

.Rectangle {
  margin: auto;
  border-radius: $border_radius;
  background: $orientationBackground;
  position: relative;
  img {
    position: absolute;
    top: $relative_position;
    bottom: $relative_position;
    left: $relative_position;
    right: $relative_position;
    margin: auto;
  }
}

.OrientationChecked {
  background: $primary !important;
}

.horizontalRectangle .RectangleDiv {
  @extend .Rectangle;
  width: $rectangle_length;
  height: $rectangle_width;
  top: -10px;
}

.verticalRectangle .RectangleDiv {
  @extend .Rectangle;
  width: $rectangle_width;
  height: $rectangle_length;
}

.FilterOrientationRectangle {
  flex: 1;
  text-align: center;
}

.horizontalRectangle {
  position: relative;
  & .Label {
    position: absolute;
    left: $relative_position;
    right: $relative_position;
  }
}