.FilterOrientationRow {
  display: flex;
  align-items: center;
}

.HorizontalRectangle {
  width: 20px;
  height: 10px;
  border: 1px solid green;
  margin: auto;
}

.VerticalRectangle {
  width: 10px;
  height: 20px;
  border: 1px solid green;
  margin: auto;
}

.FilterOrientationRectangle {
  flex: 1;
  text-align: center;
}