@import "../_settings";

.FilterRow {
  display: flex;
  .Label__FilterContent {
    flex: 4;
  }
  .Rating {
    flex: 1;
  }
}

.DropDownIcon {
  flex: 0 0 20px;
  position: relative;
  width:12px;
  height:12px;
  background-color: white;
  border-radius:8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  top:0;
  left:0;
  &:after {
    background-color: $primary;
    width: 8px;
    height: 2px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top:7px;
    left: 4px;
    content:"";
  }
  &:before {
    background-color: $primary;
    width: 2px;
    height: 8px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top:4px;
    left: 7px;
    content:"";
  }
}