.FiltersBlockHeader {

  & .TitleHeader {
    align-items: center;
    display: flex;
    & .Label {
      flex: 1;
    }
    &__close {
      float: right;
    }
  }

  & .Label {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
