@import "../core/_layout";

.Label {
  color: $gray;
  &__dark {
    color: $dark;
  }
  &__bold {
    font-weight: bold;
  }
  &__small {
    font-size: $small_font;
  }
  &__big {
    font-size: $big_font;
  }
}