@import "../core/_layout";

$selector_width: 20px;

.LayoutSelector {
  background: white;
  width: $selector_width;
  height: $selector_width;
  display: flex;
  flex-direction: column;
  margin-top: $custom_margin;
  margin-right: 1%;

  &__row {
    flex: 1;
    display: flex;
  }

  &__rectangle {
    flex: 1;
    margin: 1px;
    background: $gray;
  }
}

.EnteredLayout {
  & .LayoutSelector__rectangle {
    background: $primary;
  }
}