.LayoutSelector {
  background: white;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-right: 1%;

  &__row {
    flex: 1;
    display: flex;
  }

  &__rectangle {
    flex: 1;
    margin: 1px;
    background: grey;
  }
}

.EnteredLayout {
  & .LayoutSelector__rectangle {
    background: rgb(86, 196, 122);
  }
}