//TODO variables everywhere
.ResultsHeader {
  display: flex;
  border-left: 0.5px solid rgb(155,155,155);
  margin-right: 2%;
  max-height: 36px;
  & .Label {
    margin-top: 2%;
    &__left {
      margin-left: 2%;
      margin-right: 2%;
    }
    &__right {
      flex: 1;
    }
  }
  & .Select {
    margin-top: 2%;
    margin-right: 2%;
  }
}