@import "../core/_layout";

.ResultsItem {
  margin: auto;
  padding: 2%;
  & .BookImg {
    width: $full_size;
  }
}

.Marked {
  border: $border $primary;

  & .Label__marked {
    color: $primary;
  }
}
