@import "../core/_layout";

.ResultsItem {
  margin: auto;
  padding: 2%;
  & .BookImg {
    width: $full_size;
  }
  &__2 {
    @extend .ResultsItem;
    width: 30%;
  }

  &__3 {
    @extend .ResultsItem;
    width: 25%;
  }

  &__4 {
    @extend .ResultsItem;
    width: 20%;
  }
}

.Marked {
  border: $border $primary;

  & .Label__marked {
    color: $primary;
  }
}
