@import "../core/_layout";

.ResultsHeader {
  display: flex;
  border-left: $border $gray;
  margin-right: $custom_margin;
  max-height: 42px;
  & .Label {
    margin-top: $custom_margin;
    &__left {
      margin-left: $custom_margin;
      margin-right: $custom_margin;
    }
    &__right {
      flex: 1;
    }
  }
  & .Select { //nie musisz pisać spacji pomiędzy & a .
    margin-top: $custom_margin;
    margin-right: $custom_margin;
  }
}