.ResultsFilterBar {
  display: flex;
  align-items: center;
  border-left: 0.5px solid rgb(155,155,155);
  & .Label {
    flex: 1;
  }
  & .FilterBox {
    border: 1px solid;
    flex: 1;
    display: flex;
    align-items: center;
    & .Label {
      flex: 1;
    }
  }

}