@import "../core/_layout";

.FirstSelectBox {
  border-top: $border;
  border-bottom: $border;
  & .FirstSelectBoxContent {
    display: flex;
    align-items: center;
  }
}

.NotFirstSelectBox .Label {
  text-align: right;
  margin-right: 10px;
}

.HiddenBox {
  display: none !important;
}

.EnteredBox {
  background: $primary;
}

.EnteredBox .Label {
  color: white !important;
}

.LastSelectBox {
  border-bottom: $border;
}

.Select {
  li {
    list-style-type: none;
  }
  ol {
    margin: $relative_position;
    padding: $relative_position;
  }
  & .SelectBox {
    margin-right: 2px;
    display: flex;
    align-items: center;
    border-right: $border;
    border-left: $border;
  }
  & .SelectBox {
    & .Label {
      flex: 1;
      padding-left: 5px;
      padding-right: 10px;
    }
    img {
      padding-right: 3px;
    }
  }
}