$primary: rgb(86, 196, 122);
$gray: rgb(155, 155, 155);
$dark: rgb(56, 56, 56);
$custom_margin: 2%;
$border_radius: 2px;
$relative_position: 0;
$small_font: 14px;
$big_font: 18px;
$border: 1px solid;
$full_size: 100%;

//do settings.scss